h1{
    color: lightsalmon;
    font-family: 'Courier New', Courier, monospace;
}


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-weight: 100;
    color: white;
}
li{
    list-style-type: none;
}

#upper-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;

}
#form{
    margin-top: 150px;
    margin-bottom: 200px;
}

.movie-card{
    display: flex;
    flex-direction: column;

}

#movies{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));

    grid-gap: 60px;
    grid-row-gap: 100px;
}

#movie-img{
    width: 100%;
    height: 100%;
}


#movie-search{
    width: 400px;
    height: 40px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;

}
#movie-button{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 5px 5px;
    cursor: pointer;
    transition-duration: 0.3s;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#movie-button:hover{
    opacity: 1;
    background-color: green;
}



#movie-info-item{
    display: flex;
    margin-bottom: 12px;
}

#movie-items{
    
}

#movie-actors{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.button{
    cursor: pointer;
    border: 1px solid grey;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    margin-right: 32px;
    transition: opacity 0.5s, color 0.15s; 
}

.button:hover{
    opacity: 0.8;
}

.button:active{
    color:grey
}

#button-options{
    display: flex;
    flex-direction: row;
    margin: auto;
}